<!doctype html>
<html lang="pl">
    <head>
        <title><%= siteTitle %></title>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">-->

        <link rel="manifest" href="/master.webmanifest" />

        <link rel="stylesheet" href="/styles/style.css" />
        <link rel="stylesheet" href="/styles/master.css" />

        <script src="https://unpkg.com/@qr-platform/qr-code.js/lib/browser.js" crossorigin></script>
        <script src="https://code.iconify.design/iconify-icon/3.0.0/iconify-icon.min.js"></script>
        <script src="https://www.youtube.com/iframe_api"></script>

        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/modules/common.js"></script>
        <script src="/js/modules/screen.js"></script>
        <script src="/js/modules/socket.js"></script>

        <script>
            const ROOM_ID = "<%= room.id %>";
        </script>
    </head>
    <body>
        <div id="root">
            <div id="player-wrapper" style="visibility: hidden;">
                <div id="player"></div>
            </div>

            <div id="side-menu" style="visibility: hidden;">
                <div>
                    <button onclick="showQRCode();">
                        <iconify-icon icon="mdi:share" width="36"></iconify-icon>
                    </button>
                    <span>Udostępnij</span>
                </div>

                <div></div>

                <div>
                    <button>
                        <iconify-icon icon="mdi:skip-next" width="36"></iconify-icon>
                    </button>
                    <span>Następny<br/>w kolejce</span>
                </div>

                <div>
                    <button>
                        <iconify-icon icon="mdi:skip-previous" width="36"></iconify-icon>
                    </button>
                    <span>Poprzedni<br/>w kolejce</span>
                </div>
            </div>
        </div>

        <div id="qr-code-screen" class="screen" data-show="0">
            <div id="qr-code"></div>
            <div>
                <h1>Zeskanuj, aby dołączyć do pokoju!</h1>
                <div style="display: flex; flex-direction: row; gap: 10px;">
                    <button class="btn-secondary" onclick="copyMemberLink();" style="padding: 10px 15px; font-size: 2em;">
                        <iconify-icon icon="mdi:link" width="36"></iconify-icon>
                        &nbsp;Kopiuj link
                    </button>
                    <button onclick="qrCodeScreen.hide();" style="padding: 10px 15px; font-size: 2em;">Zamknij</button>
                </div>
            </div>
        </div>

        <div id="waiting-for-player-screen" class="screen" data-show="0">
            <h1>Oczekiwanie na odtwarzacz...</h1>
        </div>

        <div id="interaction-screen" class="screen" data-show="0">
            <div id="touch-or-click-icon">
                <iconify-icon icon="mdi:gesture-tap" width="128"></iconify-icon>
                <iconify-icon icon="mdi:cursor-default-click" width="128"></iconify-icon>
            </div>
            <h1>Kliknij lub dotknij gdziekolwiek na ekranie, aby kontynuować.</h1>
        </div>

        <script src="/js/master.js"></script>
    </body>
</html>
