@import "modules/screen.css";

p {
    margin: 0;
}

#playback-bar {
    width: 100%;
    flex: 0 1 auto;
}

@keyframes video-metadata-fade-in {
    from {
        opacity: 0;
        top: 35px;
    }

    to {
        opacity: 1;
        top: 45px;
    }
}

#video-metadata {
    position: absolute;
    left: 5px;
    width: calc(100% - 10px);
    height: max(170px, 10%);
    background: #222;
    border-radius: 15px;
    border: 1px solid white;
    animation: video-metadata-fade-in 250ms cubic-bezier(.1, 0, 0, 1) forwards;
}
