@import "modules/screen.css";

p {
    margin: 0;
}

#playback-bar {
    display: grid;
    grid-template-areas:
        "elapsed total"
        "progress progress";

    > div {
        &:nth-child(1) {
            grid-area: elapsed;
        }

        &:nth-child(2) {
            grid-area: total;
            text-align: right;
        }

        &:nth-child(3) {
            grid-area: progress;
            position: relative;

            --bar-thickness: 10px;

            > div {
                &:nth-child(1) {
                    background: #ddd;
                    width: 100%;
                    height: var(--bar-thickness);
                }

                &:nth-child(2) {
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: #1E90FF;
                    height: var(--bar-thickness);
                }
            }
        }
    }
}
