@import "modules/common.css";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

details, summary {
    cursor: pointer;
}

.container, .row {
    --gap: 5px;
    gap: var(--gap);
    padding: var(--gap);

    &.fill {
        flex: 1 1 auto;
    }
}

.separator {
    background: #aaa;
    --separator-thickness: 1px;
}

.container {
    display: flex;
    flex-direction: column;

    &.center-h {
        align-items: center;
    }

    &.center-v {
        justify-content: center;
    }

    > .separator {
        width: 100%;
        flex: 0 0 var(--separator-thickness);
    }
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 0 1 auto;

    &.center-h {
        justify-content: center;
    }

    &.center-v {
        align-items: center;
    }

    > .separator {
        height: 100%;
        flex: 0 0 var(--separator-thickness);
    }
}

.no-scroll { overflow: hidden; }
.no-scroll-x { overflow-x: hidden; }
.no-scroll-y { overflow-y: hidden; }

.auto-scroll { overflow: auto; }
.auto-scroll-x { overflow-x: auto; }
.auto-scroll-y { overflow-y: auto; }

@media (orientation: portrait) {
    .container > .row:not(.not-responsive) {
        flex-direction: column;
    }
}
